<div class="app-content">
  <router-outlet></router-outlet>
</div>

<nav class="bottom-nav">
  <button [routerLink]="['/dashboard/children/add-child']">
    <mat-icon class="nav-icon" fontIcon="add"></mat-icon>
    Add Child
  </button>
  <button [routerLink]="['/dashboard/children']">
    <mat-icon class="nav-icon" fontIcon="child_care"></mat-icon>
    Children
  </button>
  <button [routerLink]="['/dashboard/children/add-caregiver']">
    <mat-icon class="nav-icon" fontIcon="group"></mat-icon>
    Caregivers
  </button>
  <button [routerLink]="['/dashboard/user-profile']">
    <mat-icon class="nav-icon" fontIcon="perm_identity"></mat-icon>
    Profile
  </button>
</nav>
