@if (chart()) {
    <p>Chart ID: {{ chart()?.id }} </p>
    <p>Date Initiated: {{ chart()?.date }} </p>
    <button (click)="openEntryModal()">Add Entry</button>
    <!-- potential @for directive here (e of entries; track e.id)  -->
     @for (e of entries(); track e.id) {
     <div class="entry-card">
      <p>Entry ID: {{ e.id }}</p>
      <p>Date-Time Submitted: {{ e.time | date: 'short' }}</p>

      <p>Bath: {{ e.bath ? 'Yes' : 'No' }}</p>

      <p>Diaper</p>
      <p>Dirty: {{ e.diaper?.dirty ? 'Yes' : 'No' }}</p>
      <p>Wet: {{ e.diaper?.wet ? 'Yes' : 'No' }}</p>
      <p>Color: {{ e.diaper?.color || 'N/A' }}</p>
      <p>Consistency: {{ e.diaper?.consistency || 'N/A' }}</p>
      <p>Comments: {{ e.diaper?.comments || 'None' }}</p>

      <p>Feeding</p>
      <p>Bottle: {{ e.feeding?.bottle ? 'Yes' : 'No' }}</p>
      <p>Breast: {{ e.feeding?.breast ? 'Yes' : 'No' }}</p>
      <p>Amount: {{ e.feeding?.amount ? (e.feeding?.amount + ' mL') : 'N/A' }}</p>

      <p>Medication: {{ e.medication || 'None' }}</p>
      <p>Comments: {{ e.comments || 'None' }}</p>
    </div>
    }
    
}
@else {
  <p>No chart data available.</p>
  <button (click)="showChartHandler()">Refresh</button>
}