/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-danger {
  background-color: red;
}

.btn-danger:hover {
  background-color: rgb(187, 70, 70);
}

.child-card {
  border: 2px solid black;
}

.modal{
  background-color: white;
  padding: 2em;
  margin: 2em
}

.nested-group {
  border: black 2px solid;
  padding: 2em;
}
