@if (!displayEditCard()){
  @for (c of children(); track c.child_name){
    <div class="child-card">
      <p>Child Name: {{c.child_name}}</p>
      <p>Child DOB: {{c.date_of_birth}}</p>
      <button (click)="displayChildToEdit(c)">Edit</button>
      <button>Chart</button> <!-- display chart -->
    </div>
  }
} @else {
  <div class="child-card">
    <!-- make reactive form. string interpolate input placeholders -->
    <form [formGroup]="editChildForm" (ngSubmit)="editChildHandler(childToEdit!.id)">
      <label for="child_name">Child Name: </label>
        <input type="text" [formControl]="editChildForm.controls.child_name">
      <label for="date_of_birth">Child DOB: </label>
        <input type="date" [formControl]="editChildForm.controls.date_of_birth">
      <button type="submit">Submit</button>
      <button (click)="cancelEditHandler()">Cancel</button>
      <button class="btn-danger" (click)="deleteHandler(childToEdit!.child_name, childToEdit!.id)">Delete</button>
    </form> 
  </div>
}
