 @for (cg of caregivers(); track cg.id){
  <p>{{cg.name_first}}</p>
  <p>{{cg.username}}</p>
  <p>{{cg.email}}</p>
  }

  <!-- form for adding additonal caregivers -->
   <!-- only names, will patch ids for submission -->
   <form [formGroup]="caregiverForm">
    <label for="username">Select User</label>
    <select [formControl]="caregiverForm.controls.username">
      @for (cg of caregivers(); track cg.id){
        <option [value]="cg.username">
          <p>{{cg.username}}</p>
        </option>
       }  
    <label for="childName">Child</label>
    <select [formControl]="caregiverForm.controls.childName">