 @for (cg of caregivers(); track cg.id){
  <p>{{cg.name_first}}</p>
  <p>{{cg.username}}</p>
  <p>{{cg.email}}</p>
  }

  <!-- form for adding additonal caregivers -->
   <!-- only names, will patch ids for submission -->
   <form [formGroup]="caregiverForm">
    <label for="username">Select User</label>
    <input type="text" [formControl]="caregiverForm.controls.username">
    <label for="childName">Child</label>
    <input type="text" [formControl]="caregiverForm.controls.childName">
   </form>